.Resume{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ced4da;
}
.ResumeContainer{
    margin: 10px;
    max-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Row2{
    background: rgb(72 72 72);
    width: 60%;
    margin-bottom: 10px;
    box-shadow: 15px 15px 1px 1px#1c1d1b;
}
.Row1{
    height: 100%;
    width: 30%;
    
}

.Row1 li{
    margin-bottom: 10px;
    padding: 10px;
    background-color: #61892f;
    color: #ced4da;
    font-weight: 800;
    border: 1px solid #61892f;
    box-shadow: 15px 15px 1px 1px#1c1d1b;
}
.Row1 li:hover{
    background-color: #adeb42; 
    background-color:   ; 
    color: #222629 ;
}
.Active{
    background-color: #adeb42 !important; 
    color: #222629 !important;
}
@media (max-width:768px) {
   
    .Row1{
        font-size: small;
    }
    .Row2{
        font-size: small;
    }
}