.Contact{
    height: 100vh;
}
.Contact form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
.Contact form input{
    margin-bottom: 20px;
    margin: 1rem 0;
    display: block;
    height: 3rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #c2c2c2;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 3px 15px 0 #141414;
}
.Contact textarea{
    margin-bottom: 20px;
    margin: 1rem 0;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #c2c2c2;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 3px 15px 0 #141414;
}