
html{

}



html {
  overflow-y: scroll;
  min-height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  height: -webkit-fill-available;
  scroll-behavior: smooth;
  background: #222629;
}
body{
  min-height: 100%;
  min-height: -webkit-fill-available;
  margin:0px; 
  padding:0px;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
  font-size:1.8rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a, button{
  cursor: pointer;
}

.slick-next {
  right: 25px;
}
.slick-prevs {
  left: 25px;
}